/**
 * Button Styles
 * -----------------------------------------------------------------------------
 */
@import "assets/styles/variables";

/**
 * Defaults
 */
.journi-button {
    // Reset
    overflow: visible;
    appearance: none;
    text-transform: none;
    border: 0;
    padding: 0;
    cursor: pointer;

    // Theme
    font-family: "effra", "Helvetica Neue", "Arial", sans-serif;
    font-size: 1rem;
    text-align: inherit;

    // States
    &:hover,
    &:focus {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
        transform: translateY(1px);
    }
}

/**
 * Variations
 */
.journi-button-primary,
.journi-button-secondary,
.journi-button-link {
    height: 2rem;
    line-height: 2rem;
    padding-left: $spacing-xs;
    padding-right: $spacing-xs;
    border-radius: 1rem;
    font-weight: $font-weight-normal;
}
.journi-button-primary {
    background: $primary;
    color: $white;
}
.journi-button-secondary {
    background: rgba($warm-gray-900, 0.3);
    color: $primary;
}
.journi-button-link {
    background: transparent;
    color: $primary;
}

/**
 * Sizes
 */
.journi-button-large {
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: $spacing-xs;
    padding-right: $spacing-xs;
    border-radius: 1.25rem;
}
.journi-button-small {
    font-size: 0.875rem;
    height: 1.5rem;
    line-height: 1.5rem;
    padding-left: $spacing-xxs;
    padding-right: $spacing-xxs;
    border-radius: 0.75rem;
}

/**
 * Icon
 */
.journi-button-icon {
    padding-left: 0;
    padding-right: 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    svg {
        position: relative;
        top: 6px;
    }
    &.journi-button-large {
        width: 2.5rem;
        height: 2.5rem;
        svg {
            top: 8px;
        }
    }
    &.journi-button-small {
        width: 1.5rem;
        height: 1.5rem;
        svg {
            top: 4px;
        }
    }
}
