version: 2.1

orbs:
    artifactory: circleci/artifactory@1.0.0
    js: cambiahealth/janus-javascript@1
    sb: cambiahealth/stack-build@1

executors:
    node:
        docker:
            - image: circleci/node:latest-browsers
        environment:
            ARTIFACTORY_URL: https://janusplatform.jfrog.io/janusplatform

jobs:
    lint-build-test:
        executor:
            name: node
        environment:
            JOBS: 1
        steps:
            - checkout
            - js/configure-npm:
                  target: .npmrc
            - restore_cache:
                  name: Restore NPM Package Cache
                  keys:
                      - npm-packages-{{ checksum "package-lock.json" }}
            - run:
                  name: Install NPM Packages
                  command: npm install
            - save_cache:
                  name: Save NPM Package Cache
                  key: npm-packages-{{ checksum "package-lock.json" }}
                  paths:
                      - ~/.cache/npm
            - run:
                  name: Lint Typescript
                  command: npm run lint
            - run:
                  name: Build React
                  command: npm run build:app
            - run:
                  name: Run Acceptance Tests
                  command: |
                      mkdir -p ~/cucumber
                      NODE_ENV=test npx cucumber-js --format json:~/cucumber/tests.cucumber
            - store_test_results:
                  path: ~/cucumber
            - store_artifacts:
                  path: ~/cucumber
            - run:
                  name: Build Styleguide
                  command: npm run build:storybook
            - persist_to_workspace:
                  root: ./
                  paths:
                      - build/
                      - styleguide/

workflows:
    version: 2

    # Build and Test (all non-development/master branches)
    build-and-test:
        jobs:
            - lint-build-test:
                  context: cambia
                  filters:
                      branches:
                          ignore:
                              - master
                              - development

    # Deploy to Janus (only development/master)
    janus-pipeline:
        jobs:
            - sb/preflight:
                  filters:
                      branches:
                          only:
                              - master
                              - development
            - sb/normalize:
                  context: cambia
                  requires:
                      - sb/preflight
            - lint-build-test:
                  context: cambia
                  requires:
                      - sb/preflight
            - sb/stack-formation:
                  context: cambia
                  get-s3-contents-from-workspace: true
                  requires:
                      - sb/preflight
                      - sb/normalize
                      - lint-build-test
            - sb/stack-review:
                  context: cambia
                  requires:
                      - sb/preflight
                      - sb/normalize
            - sb/publish-artifacts:
                  context: journi-web-app
                  requires:
                      - sb/preflight
                      - sb/stack-formation
                      - sb/stack-review
