/**
 * Layout
 * -----------------------------------------------------------------------------
 */
@import "assets/styles/variables";

html,
body,
#root,
#jo-app {
    background: $warm-gray-100;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#jo-app {
    display: flex;
    flex-direction: row;
}

#jo-content {
    flex: 1;
}

#jo-sidebar {
    width: 190px;
    min-width: 190px;
    height: 100%;
    background: $purple;
}

.jo-sidebar-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
        color: $white;
    }
    &.active {
        background: rgba($purple-vivid, 0.7);
    }
}
