.journi-button-icon {
    padding-left: 0;
    padding-right: 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    svg {
        position: relative;
        top: 5px;
    }
    &.journi-button-large {
        width: 2.5rem;
        height: 2.5rem;
        svg {
            top: 7px;
        }
    }
    &.journi-button-small {
        width: 1.5rem;
        height: 1.5rem;
        svg {
            top: 3px;
        }
    }
}
