/**
 * Variables
 * -----------------------------------------------------------------------------
 */

// Typography
$font-size: 1rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;

// Borders
$border-radius: 16px;
$border-radius-lg: 24px;

// Spacing
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-sm: 24px;
$spacing-md: 32px;
$spacing-lg: 40px;
$spacing-xl: 48px;
$spacing-xxl: 56px;
