/**
 * Variables
 * -----------------------------------------------------------------------------
 */

/**
 * Typography
 */
$font-size: 1rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;

/**
 * Borders
 */
$border-radius: 16px;
$border-radius-lg: 24px;

/**
 * Spacing
 */
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-sm: 24px;
$spacing-md: 32px;
$spacing-lg: 40px;
$spacing-xl: 48px;
$spacing-xxl: 56px;

/**
 * Colors
 * -----------------------------------------------------------------------------
 */

/**
 * Grayscale
 */
$black: #000000;
$white: #ffffff;
$gray-100: #f5f5f5;
$gray-200: #e9e9ea;
$gray-300: #d4d4d5;
$gray-400: #a9a9ac;
$gray-500: #939398;
$gray-600: #69696e;
$gray-700: #53535a;
$gray-800: #3e3e45;
$gray-900: #282831;

/**
 * Warm Grayscale
 */
$warm-gray-100: #f8f7f5;
$warm-gray-200: #f2efeb;
$warm-gray-300: #ebe8e2;
$warm-gray-400: #e5e0d8;
$warm-gray-500: #dfd8cf;
$warm-gray-600: #d8d1c5;
$warm-gray-700: #d2c9bc;
$warm-gray-800: #cbc1b2;
$warm-gray-900: #beb19e;

/**
 * Colors
 */
$blue: #0fa2e6;
$blue-medium: #60b7f1;
$blue-light: #e5f1f4;
$blue-vivid: #0e71c0;

$blue-green: #007c91;

$green: #009d71;
$green-light: #e7f4e9;
$green-vivid: #71d239;

$purple: #64009e;
$purple-medium: #9553d0;
$purple-vivid: #a010c9;

$red: #cc1533;
$red-medium: #f55151;
$red-light: #feeded;

$yellow: #ffab00;
$yellow-light: #fff4df;

/**
 * Aliases
 */
$primary: $purple;
$secondary: $gray-600;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;

/**
 * Mixins
 * -----------------------------------------------------------------------------
 */
@mixin card-shadow {
    box-shadow: 0px 1px 3px rgba($gray-900, 0.13);
}
@mixin button-shadow {
    box-shadow: 0px 2px 3px rgba($gray-900, 0.1);
}
